root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 2

[*.css]
indent_size = 4
tab_width = 4

[{*.cjs,*.js}]
indent_style = tab
max_line_length = 80

[{*.go,*.go2}]
indent_size = 4
indent_style = tab
tab_width = 4

[{*.gql,*.graphql,*.graphqls}]
indent_size = 4
tab_width = 4

[{*.graphqlconfig,*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,composer.lock,jest.config}]
tab_width = 4

[{*.htm,*.html,*.sht,*.shtm,*.shtml}]
indent_style = tab

[{*.markdown,*.md}]
indent_size = 4
tab_width = 4
